<div class="text-center">
  <h1>Companies</h1>
</div>

<!-- <div [hidden]="hideEmployees" class="p-4"> -->
<div class="p-4">
  <div class="flex justify-right">
    <button (click)="addComp()" class="btn btn-primary px-3 m-2">New</button>
  </div>
  <div>
    <input type="text" placeholder="search..." class="full-width-table rounded border-blue" style="height: 40px;">
  </div>
  <div class="border rounded shadow" style="overflow: auto;">
    <table class="full-width-table table">
      <tr class="border-botom">
        <th class="p-4">Id</th>
        <th>Name</th>
        <th>Date</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      <tr *ngFor="let company of companyList; let i=index; let e = even;" class="border-botom py-4" [ngClass]="e? 'even': 'odd'">
        <td class="p-3">{{company.id }}</td>
        <td>{{company.name | uppercase}}</td>
        <td>{{company.regDate | date : 'short'}}</td>
        <td><button (click)="editComp(company)" class="btn btn-primary btn-text-primary">Edit</button></td>
        <td><button (click)="deleteComp(company.id)" class="btn btn-primary text-red">Delete</button></td>
      </tr>

    </table>

  </div>
</div>