<p>{{newemp | json}}</p>

<form (ngSubmit)="addNewEmp()">
  <div class="form-group">
    <input class="form-control" type="number" required name="Eid" [(ngModel)]="newemp.Eid" placeholder="id">
    <input class="form-control" type="text" required name="Ename" [(ngModel)]="newemp.Ename" placeholder="name">
    <input class="form-control" type="number" required name="companyId" [(ngModel)]="newemp.companyId" placeholder="name">
    <input class="form-control" type="number" required name="departmentId" [(ngModel)]="newemp.departmentId" placeholder="name">
    <input class="form-control" type="number" required name="salaryId" [(ngModel)]="newemp.salaryId"
      placeholder="salary">
    <!-- <select name="companyId" id="companyId" required class="form-control cursor-pointer">
      <option value="0" disabled selected>Select Company</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    <select name="departmentId" required id="departmentId" class="form-control cursor-pointer">
      <option value="0" disabled selected>Select Department</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select> -->
  </div>
  <div>
    <button class="btn btn-primary" type="submit">Add</button>
  </div>
</form>