<div class="text-center">
  <h1>Employees</h1>
</div>

<div class="p-4">

  <div class="alert alert-success text-center cursor-pointer" *ngIf="successAlert === true" (click)="hideAlert()">
    <h2>Data add successfully</h2>
  </div>

  <div class="alert alert-success text-center cursor-pointer" *ngIf="updateAlert === true" (click)="hideAlert()">
    <h2>Data updated successfully</h2>
  </div>
  
  <div class="alert alert-success text-center cursor-pointer" *ngIf="deleteAlert === true" (click)="hideAlert()">
    <h2>Data deleted successfully</h2>
  </div>
  
  <p>{{newemp | json}}</p>

  <div class="flex" *ngIf="hideNewEmp === true">

    <form (ngSubmit)="updateE? updateEmp():addEmp()">
      <div class="form-group">
        <input class="form-control" type="number" required name="Eid" [(ngModel)]="newemp.Eid" placeholder="id">
        <input class="form-control" type="text" required name="Ename" [(ngModel)]="newemp.Ename" placeholder="name">
        <input class="form-control" type="number" required name="companyId" [(ngModel)]="newemp.companyId"
          placeholder="name">
        <input class="form-control" type="number" required name="departmentId" [(ngModel)]="newemp.departmentId"
          placeholder="name">
        <input class="form-control" type="number" required name="salaryId" [(ngModel)]="newemp.salaryId"
          placeholder="salary">
        <!-- <select name="companyId" id="companyId" required class="form-control cursor-pointer">
          <option value="0" disabled selected>Select Company</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
        <select name="departmentId" required id="departmentId" class="form-control cursor-pointer">
          <option value="0" disabled selected>Select Department</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select> -->
      </div>
      <div *ngIf="!updateE">
        <button class="btn btn-primary" type="submit">Add</button>
      </div>
      <div *ngIf="updateE">
        <button class="btn btn-primary" type="submit">Update</button>
      </div>
    </form>

  </div>

  <div class="flex justify-right">
    <button (click)="newEmpForm()" class="btn btn-primary px-3 m-2">New</button>
  </div>

  <div>
    <input type="text" placeholder="search..." class="full-width-table rounded border-blue" style="height: 40px;">
  </div>

  <div class="border rounded shadow" style="overflow: auto;">
    <table class="full-width-table table">
      <tr class="border-botom">
        <th class="p-4">Id</th>
        <th>Name</th>
        <th>Company</th>
        <th>Department</th>
        <th>Salary</th>
        <th>Date</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      <tr *ngFor="let employee of employeeList; let i=index; let e = even;" class="border-botom py-4"
        [ngClass]="e? 'even': 'odd'">
        <td class="p-3">{{employee.Eid }}</td>
        <td>{{employee.Ename | uppercase}}</td>
        <td>{{companyList[(employee.companyId - 1)].name }}</td>
        <td>{{departmentList[(employee.departmentId - 1)].name }}</td>
        <td>{{salaryList[(employee.salaryId - 1)].amount | currency }}</td>
        <td>{{employee.regDate | date : 'short'}}</td>
        <td><button (click)="editEmp(employee)" class="btn btn-primary btn-text-primary">Edit</button></td>
        <td><button (click)="deleteEmp(employee.Eid)" class="btn btn-primary text-red">Delete</button></td>
      </tr>

    </table>

  </div>
</div>