<div class="text-center m-2">
  <h1>Employees</h1>
</div>

<div class="p-4">

  <div class="m-3" *ngIf="hideNew === false">
    <form [formGroup]="addFrom" (ngSubmit)="addEmp()" class="border p-3 rounded">
      <div>
        <div class="form-group">
          <div class="row">
            <!-- <div class="form-group col-5">
              <label for="">ID</label>
              <input type="number" class="form-control" required formControlName="id" placeholder="id"
                [ngClass]="{'is-invalid' : submitted && ctrl['id'].errors}">

              <div class="invalid-feedback" *ngIf="submitted && ctrl['id'].errors">
                <div *ngIf="ctrl['id'].errors['required']">
                  id is required!
                </div>

                <div *ngIf="ctrl['id'].errors['min']">
                  Minimum id is 1!
                </div>
              </div>
            </div> -->

            <div class="form-group col-5">
              <label for="">Name</label>
              <input class="form-control" type="text" required formControlName="Ename" placeholder="name"
                [ngClass]="{'is-invalid' : submitted && ctrl['Ename'].errors}">

              <div class="invalid-feedback" *ngIf="submitted && ctrl['Ename'].errors">
                <div *ngIf="ctrl['Ename'].errors['required']">
                  Name is required!
                </div>

                <div *ngIf="ctrl['Ename'].errors['minlength']">
                  Minimum Name length allowed is 3 char!
                </div>

                <div *ngIf="ctrl['Ename'].errors['maxlength']">
                  Maximum Name length allowed is 50 char!
                </div>
              </div>
            </div>

            <div class="form-group col-5">
              <label for="">Company</label>
              <select title="Company" formControlName="companyId" required class="form-control cursor-pointer"
                [ngClass]="{'is-invalid' : submitted && ctrl['companyId'].errors}">
                <option value="0" disabled selected>--select company--</option>
                <option *ngFor="let cmp of companyList" [value]="cmp.id">
                  {{ cmp.name }}
                </option>
              </select>

              <div class="invalid-feedback" *ngIf="submitted && ctrl['companyId'].errors">
                  Company is required!
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-5">
              <label for="">Department</label>
              <select formControlName="departmentId" required title="Department" class="form-control cursor-pointer"
                [ngClass]="{'is-invalid' : submitted && ctrl['departmentId'].errors}">
                <option value="0" disabled selected>--select department--</option>
                <option *ngFor="let dmp of departmentList" [value]="dmp.id">
                  {{ dmp.name }}
                </option>
              </select>

              <div class="invalid-feedback" *ngIf="submitted && ctrl['departmentId'].errors">
                  Department is required!
              </div>
            </div>

            <div class="form-group col-5">
              <label for="">Salary</label>
              <select formControlName="salaryId" required title="Salary" class="form-control cursor-pointer"
                [ngClass]="{'is-invalid' : submitted && ctrl['salaryId'].errors}">
                <option value="0" disabled selected>--select salary--</option>
                <option *ngFor="let sal of salaryList" [value]="sal.id">
                  {{ sal.amount | currency}}
                </option>
              </select>

              <div class="invalid-feedback" *ngIf="submitted && ctrl['salaryId'].errors">
                  Salary is required!
              </div>
            </div>
          </div>
        </div>

        <div>
          <button class="btn btn-primary px-2 m-2" type="submit">{{buttonTxt}}</button>
          <button class="btn btn-danger px-2" type="button" (click)="resetForm()">Cancel</button>
        </div>
      </div>
    </form>
  </div>

  <div class="flex justify-right">
    <button (click)="hideNewForm()" class="btn btn-primary px-3 m-2">New</button>
  </div>

  <div>
    <input type="text" placeholder="search..." class="full-width-table rounded border-blue" style="height: 40px;">
  </div>

  <div class="border rounded shadow" style="overflow: auto;">
    <table class="full-width-table table">
      <tr class="border-botom">
        <th class="p-4">Id</th>
        <th>Name</th>
        <th>Company</th>
        <th>Department</th>
        <th>Salary</th>
        <th>Date</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      <tr *ngFor="let employee of employeeList; let i=index; let e = even;" class="border-botom py-4"
        [ngClass]="e? 'even': 'odd'">
        <td class="p-3">{{employee.id }}</td>
        <td>{{employee.Ename | uppercase}}</td>
        <td>{{companyList[(employee.companyId - 1)].name }}</td>
        <td>{{departmentList[(employee.departmentId - 1)].name }}</td>
        <td>{{salaryList[(employee.salaryId - 1)].amount | currency }}</td>
        <td>{{employee.regDate | date : 'short'}}</td>
        <td><button (click)="edit(employee.id)" class="btn btn-primary btn-text-primary">Edit</button></td>
        <td><button (click)="delete(employee.id)" class="btn btn-primary text-red">Delete</button></td>
      </tr>

    </table>

  </div>
</div>